.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 15px;
  padding: 15px;
  border: 1px solid pink;
  border-radius: 15px;
}

.title {
  text-align: center;
}

.photo {
  width: 50px;
  height: 50px;
}

.btn {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  border: none;  
  box-shadow: -5px 5px 15px grey;
  outline: none;
}

.follow {
  background-color: rgb(216, 63, 63);
  color: white;
}

.unfollow {
  background-color: rgb(120, 236, 90);
  color: white;
}

.blueTheme {
  color: blue;
}