.nav {
	background-color: #78BE00;
	grid-area: nav;	
	padding: 20px;
	text-align: center;
	border-radius: 15px;
	
}

.list {
	padding: 0;
	list-style: none;
}

.item {
	margin: 15px;
}

.link {
	color: white;
	text-decoration: none;
}

.active {
	padding: 5px 25px 5px 25px;
	color: gold;
	font-weight: bold;
	background-color: grey;
}